{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px"
        data-has-scrolling-region>

        <div class="mdk-drawer-layout__content">
            <!-- header-layout -->
            <div
                class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
                <!-- header -->
                {% include '_account-nav.html' %}
                <!-- content -->
                <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100">
                    <!-- main content -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center mb-3">
                                            <div class="author-info">
                                                <p class="lead mb-0">Currently Signed Suppliers</p>
                                            </div>
                                        </div>
                                        {% for s in suppliers %}
                                        <li
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <p class="card-text">{{ s.supplier__company_name }}</p>
                                        </li>
                                        {% endfor %}
                                        <p class="card-text">
                                            <a href="{% url 'suppliers' %}">View All Suppliers</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                {% for n in notifications %}
                                <div class="card card-profile--activity">
                                    <div class="card-body">
                                        <div class="media align-items-center">
                                            <img src="{{ n.product.image.url }}" alt="product image"
                                                class="rounded-circle mr-2" width="40">
                                            <div class="media-body">
                                                <p class="card-text mb-0">
                                                    <a href="{% url 'edit_product' n.product.slug %}">{{ n.product.name }}</a>
                                                </p>
                                                <p class="card-text text-muted">
                                                    {{ n.created|naturaltime }}
                                                    <span>
                                                        {% if n.unread %}
                                                        <span class="badge badge-primary">Unread</span>
                                                        {% else %}
                                                        <span class="badge badge-success">Read</span>
                                                        {% endif %}
                                                    </span>
                                                </p>
                                            </div>
                                            <a href="#" class="btn btn-white btn-sm" data-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class="material-icons align-middle text-muted">more_horiz</i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ n.id }}" name="notification_id">
                                                    <button class="dropdown-item" name="read">Mark As Read</button>
                                                    <button class="dropdown-item" name="delete"
                                                        style="color: red;">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="card-text">
                                            {{ n.message }}
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <div class="card-title">Products Soon Reaching Reorder Level</div>
                                        <a href="{% url 'notifications' %}" data-toggle="tooltip"
                                            data-placement="bottom" title="Refresh">
                                            <i class="material-icons align-middle md-18 text-muted">sync</i>
                                        </a>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for product in products %}
                                        <li
                                            class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                            <div class="media align-items-center">
                                                <img src="{{ product.image.url }}" class="img-fluid rounded-circle mr-1"
                                                    width="35" alt="product image">
                                                <div class="media-body lh-1">
                                                    <a href="{% url 'edit_product' product.slug %}">{{ product.name }}</a>
                                                    <div>
                                                        <small class="text-muted">In Stock: {{ product.quantity }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // END drawer-layout__content -->
    </div>
    <!-- // END drawer-layout -->

</body>
{% endblock content %}