{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load humanize %}
{% load mathfilters %}
{% block content %}

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px"
        data-has-scrolling-region>

        <div class="mdk-drawer-layout__content">
            <!-- header-layout -->
            <div
                class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
                <!-- header -->
                <div class="mdk-header js-mdk-header bg-primary" data-fixed>
                    <div class="mdk-header__content">

                        <nav class="navbar navbar-expand-md bg-primary navbar-dark d-flex-none">
                            <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
                                <i class="material-icons align-middle md-36">short_text</i>
                            </button>
                            {% include '_account-nav.html' %}
                            <div class="collapse navbar-collapse" id="mainNavbar">
                                <!-- something here on navbar -->
                            </div>
                        </nav>
                    </div>
                </div>

                <!-- content -->
                <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100">
                    <!-- main content -->
                    <div class="container-fluid container--wide">
                        <div class="row align-items-center mb-3">
                            <div class="col-md-8">
                                <h1 class="h2 mb-0">New Order</h1>
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="{% url 'dashboard' %}">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'reorder' %}">Purchase Orders</a>
                                    </li>
                                    <li>
                                        <a>New Order</a>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-4 text-md-right">
                                <a href="{% url 'dashboard' %}" class="btn btn-white">
                                    <i class="material-icons md-18 align-middle">chevron_left</i>
                                    <span class="align-middle">Back</span>
                                </a>
                            </div>
                        </div>
                        <div class="card card-body card-padded">
                            <h1 class="h4 mb-0">1. Order Items</h1>
                            <hr>
                            <table class="table mb-3">
                                <thead>
                                    <tr>
                                        <th>
                                            Product
                                        </th>
                                        <th>Ref Code</th>
                                        <th>Quantity</th>
                                        <th>Item Price(Ksh)</th>
                                        <th>Total Price(Ksh)</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for p in cart_products %}
                                    <tr>
                                        <td class="align-middle">
                                            <a href="{{ p.product.get_absolute_url }}">
                                                {{ p.product.name|truncatewords:"4" }}
                                            </a>
                                        </td>
                                        <td class="align-middle">#{{ p.product.sku|upper }}</td>
                                        <td class="align-middle">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ p.pk }}" name="cart_product">
                                                <input type="submit" value="-" name="remove" class="btn btn-success">
                                                {{ p.quantity }}
                                                <input type="submit" value="+" name="add" class="btn btn-success">
                                            </form>
                                        </td>
                                        <td class="align-middle">{{ p.product.price|floatformat:"0"|intcomma }}</td>
                                        <td class="align-middle">{{ p.sub_total|floatformat:"0"|intcomma }}</td>
                                        <td class="align-middle text-right">
                                            <a href="{% url 'edit_product' p.product.slug %}"
                                                class="btn btn-white btn-sm " data-toggle="tooltip"
                                                data-placement="bottom" title="" data-original-title="Edit">
                                                <i class="material-icons md-14 align-middle">edit</i>
                                            </a>
                                            <form action="{% url 'remove_from_cart' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="product" value="{{ p.id }}">
                                                <button type="submit" class="btn btn-danger btn-sm "
                                                    data-toggle="tooltip" data-placement="bottom" title=""
                                                    data-original-title="Delete">
                                                    <i class="material-icons md-14 align-middle">delete</i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <form action="{% url 'place_purchase_order' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="note">Order Notes</label>
                                            <textarea name="order_notes" id="note" cols="30" rows="7"  class="form-control"></textarea>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card card-body bg-light mb-3">
                                                    <div class="text-muted">Vendor owes</div>
                                                    <div>&dollar;50.00</div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card card-body bg-light mb-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div>
                                                            <div class="text-muted">In Credit</div>
                                                            <div>Ksh {{ balance|floatformat:"0"|intcomma }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-body card-subtotals bg-light">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <div>Units Ordered</div>
                                                    <div>{{ cart_products|units_ordered|default_if_none:"0" }}</div>
                                                </li>
                                                
                                                {% with ct=cart_products|purchase_order_subtotal  %}
                                                <li>
                                                    <div>Subtotal</div>
                                                    <div>Ksh {{ ct|floatformat:"0"|intcomma|default_if_none:"0" }}</div>
                                                </li>
                                                {% endwith %}
                                                <!-- <li>
                                                <div>Tax</div>
                                                <div>Ksh 0</div>
                                            </li> -->
                                            </ul>
                                            # Assumptions: tax and handling costs inclusive
                                            <!-- Assuming that tax and handling cost is inclusive. -->
                                            <!-- <div class="d-flex align-items-center justify-content-between mb-3">
                                                <div>Shipping &amp; Handling</div>
                                                <input type="text" class="form-control" value="{{ ct|mul:0.1|floatformat:'2'|intcomma|default_if_none:'0' }}">
                                            </div> -->
                                            <hr>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <strong>Total:</strong>
                                                <strong>&dollar;9552</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="h4 mb-0">2. Supplier</h1>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="supplier">Recommended Suppliers</label>
                                            <select class="form-control" required>
                                                {% for supplier in suppliers %}
                                                <option value="{{ supplier.id }}">{{ supplier.company_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="supplier">All Suppliers</label>
                                            <select class="form-control">
                                                <option value="2">Seattle Store</option>
                                                <option value="3">Washington Store</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="h4 mb-0">3. Payment</h1>
                                <hr>
                                <div class="row mb-3">
                                    <!-- <div class="col">
                                        <div class="form-group">
                                            <label for="pay_agreement">Pay After Consigment has been delivered <input type="checkbox" name="pay_agreement" class="form-control"></label>
                                        </div>
                                    </div> -->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="payment_type">Payment Type</label>
                                            <select class="form-control">
                                                <option value="m_pesa" selected>M-Pesa</option>
                                                <option value="account_transfer" disabled>Account Transfer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="account_no">M-Pesa / Account Number</label>
                                            <input type="text" name="account_no" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success">Place Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- // END drawer-layout__content -->
    </div>
    <!-- // END drawer-layout -->
</body>
{% endblock content %}