{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load filters %}
{% load mathfilters %}
{% block content %}

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px"
        data-has-scrolling-region>

        <div class="mdk-drawer-layout__content">
            <!-- header-layout -->
            <div
                class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
                <!-- header -->
                <div class="mdk-header js-mdk-header bg-primary" data-fixed>
                    <div class="mdk-header__content">
                        {% include '_account-nav.html' %}
                        <nav class="navbar navbar-expand-md bg-primary navbar-dark d-flex-none">
                            <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
                                <i class="material-icons align-middle md-36">short_text</i>
                            </button>
                            <div class="page-title m-0">Retail</div>

                            <div class="collapse navbar-collapse" id="mainNavbar">


                            </div>
                        </nav>
                    </div>
                </div>

                <!-- content -->
                <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100">
                    <!-- main content -->
                    <div class="container mt-0 pb-3">
                        <div class="row align-items-center mb-3">
                            <div class="col-md-6">
                                <h1 class="h2 mb-0">Retail Dashboard</h1>
                                <ol class="breadcrumb p-0">
                                    <li>
                                        <a href="#">Dashboards</a>
                                    </li>
                                    <li class="text-muted">
                                        Retail
                                    </li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <div class="d-md-flex new-order">
                                    <div class="input-group mr-2">
                                        <input type="text" class="datepicker-retail form-control"  value="Total Sales: Ksh {{ balance.balance|floatformat:'0'|intcomma }}" disabled>
                                    </div>
                                    <a href="{% url 'reorder' %}" class="btn btn btn-success">
                                        <i class="material-icons md-18 align-middle">shopping_cart</i>
                                        <span class="align-middle">Proceed to Order</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h4 class="card-title">Sales</h4>
                                        <div>
                                            <a href="myChart/" class="btn btn-sm btn-white mr-1">
                                                <i class="material-icons md-18 align-middle">import_export</i>
                                                <small class="align-middle text-uppercase">Export</small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="w-100">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h4 class="card-title">Sales</h4>
                                        <div>
                                            <a href="#" class="btn btn-sm btn-white">
                                                <i class="material-icons md-18 align-middle">print</i>
                                                <small class="align-middle text-uppercase">Print</small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="w-100">
                                            <canvas id="myChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr class="bg-fade">
                                            <th style="width: 80px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input check-sales"
                                                        id="saleCheckAll">
                                                    <label class="custom-control-label align-middle"
                                                        for="saleCheckAll"></label>
                                                </div>
                                            </th>
                                            <th>Product</th>
                                            <th>In Stock</th>
                                            <th>Sold</th>
                                            <th>Price(Ksh)</th>
                                            <th>Revenue(Ksh)</th>
                                            <th style="width: 150px;">Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for product in products %}
                                        <tr>
                                            <td class="align-middle">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input sale"
                                                        id="saleCheck1">
                                                    <label class="custom-control-label align-middle"
                                                        for="saleCheck1"></label>
                                                </div>
                                            </td>
                                            <td class="align-middle">
                                                <div class="media align-items-center">
                                                    <a href="{{ product.get_absolute_url }}">
                                                        <img src="{{ product.image.url }}" alt="product image" width="40" class="rounded-circle mr-2">
                                                    </a>
                                                    <div class="media-body lh-1">
                                                        <a href="{{ product.get_absolute_url }}">{{ product.name|truncatewords:"3"}}</a>
                                                        <!-- <div class="text-muted"></div> -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle">{{ product.quantity }}</td>
                                            <td class="align-middle">{{ product|quantity_sold|default_if_none:"0" }}</td>
                                            <td class="align-middle">{{ product.price|floatformat:"0"|intcomma }}</td>
                                            <td class="align-middle">{{ product|quantity_sold|mul:product.price|floatformat:"0"|intcomma|default:"0" }}</td>
                                            <td>
                                                
                                                {% with pq=product.quantity prl=product.reorder_level  %}
                                                    {% if pq > prl|add:"30" %}
                                                    <div class="badge badge-success">STOCKED</div>
                                                    {% elif pq > prl %}
                                                    <div class="badge badge-primary">CONSIDER RESTOCKING</div>
                                                    {% elif pq > 0 and pq <= prl %}
                                                    <div class="badge badge-warning">RESTOCK NOW</div>
                                                    {% else %}
                                                    <div class="badge badge-danger">OUT OF STOCK</div>
                                                    {% endif %}
                                                {% endwith %}
                                            </td>
                                            <td>
                                                <div class="dropdown show">
                                                    <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="material-icons md-18 align-middle">more_vert</i>
                                                    </a>
                                            
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="{% url 'edit_product' product.slug %}">
                                                            <i class="material-icons md-14 align-middle">edit</i>
                                                            <span class="align-middle">Edit</span>
                                                        </a>
                                                        {% if product|product_in_purchase_cart %}
                                                        <form action="{% url 'remove_from_cart' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                                            <button class="dropdown-item">
                                                                <i class="material-icons md-14 align-middle">remove_shopping_cart</i>
                                                                <span class="align-middle">Remove from cart</span>
                                                            </button>
                                                        </form>
                                                        {% else %}
                                                        <form action="{% url 'add_to_reorder_cart' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                                            <button class="dropdown-item">
                                                                <i class="material-icons md-14 align-middle">add_shopping_cart</i>
                                                                <span class="align-middle">Add to cart</span>
                                                            </button>
                                                        </form>
                                                        {% endif %}
                                                        <form action="{% url 'product_activate_deactivate' product.slug %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="dropdown-item">
                                                                {% if product.status %}
                                                                <i class="material-icons md-14 align-middle">remove_circle</i>
                                                                <span class="align-middle">Deactivate</span>
                                                                {% else %}
                                                                <i class="material-icons md-14 align-middle">check_circle</i>
                                                                <span class="align-middle">Activate</span>
                                                                {% endif %}
                                                            </button>
                                                        </form>
                                                        <a class="dropdown-item text-danger" href="#">
                                                            <i class="material-icons md-14 align-middle">delete</i>
                                                            <span class="align-middle">Delete</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                            {% if products.has_other_pages %}
                            <div class="card-body bg-fade">
                                <div class="d-flex align-items-center justify-content-center">
                                    <nav aria-label="Page navigation" class="mr-3">
                                        <ul class="pagination m-0">
                                            
                                            {% if products.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">{{ products.previous_page_number }}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            
                                            {% for p in products.paginator.page_range %}
                                                
                                                {% if p == products.number %}
                                                <li class="page-item active"><a class="page-link" href="#">{{p}}</a></li>
                                                {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            
                                            {% if products.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- // END drawer-layout__content -->
    </div>
    <!-- // END drawer-layout -->
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates|safe }},
            datasets: [{
                label: 'Sales in the last 1 week',
                fill: false,
                data: {{ total_sales|safe }},
                borderWidth: 2,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });


    const ctxx = document.getElementById('myChart2');

    new Chart(ctxx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock content %}